html {
    text-align: center;
    background-color: tan;
}


.left {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    width: 500px;
}

.right {
    display: inline-block;
}

.gridContainer {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    height: 600px;
    width: 600px;
    border: 4px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 45px;
}

.square {
    background-color: white;
    border: 1px solid black;
}

.color {
    background-color: black;
    border: 1px solid black;
}